#wrapper {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas: 'hd'
    'main'
    'ft';
}

header {
    grid-area: hd;
    background-color: aqua;
}

main {
    grid-area: main;
    background-color: bisque;
}

footer {
    grid-area: ft;
    background-color: darksalmon;
}

#cardwrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: auto;
}

section {
border: 3px solid grey (71, 71, 71);
width: 250px;
height: 250px;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}

section:hover {
    height: 300px;
}

#cardwrapper section p {
    font-size: 2em;
}